// 変数
$black: #222222;
$base: #f0f0f0;

$primary: #0d7377;
$brown: #5B210D;
$red: #FA3935;
$link: #0bd;
$link_hover: #0090aa;

$gray_dark: #323232;
$gray_middle: #777;


$border: 1px solid #ccc;
$border_dark: 1px solid $gray_dark;
//クリアーフィックスmixin
@mixin cf(){
  &::before{
    content: "";
    display: table;
  }
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

// FontAwesome
@mixin awesome($size: 20px){
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-size: $size;
}

// リンク色変え
@mixin link-colors($color) {
	color: $color;
	text-decoration: none;
	&:hover {
		color: lighten($color, 15%);
		text-decoration: underline;
	}
	&:visited {
		color: desaturate($color, 50%);
	}
}

// シャドウ
@mixin shadow(){
    box-shadow: 0 8px 30px rgba(0,0,0,.2), 0 16px 60px rgba(0,0,0,.1);
}

// グラデーション
@mixin btn_gradient( $color: $red ){
  background-color: $color;
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color, 15%)), to($color));
  background: linear-gradient(lighten($color, 15%), $color);
  border: 1px solid $color;
}

@mixin gradient( $color: $red ){
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color, 15%)), to($color));
  background: linear-gradient(lighten($color, 15%), $color);
}

$mq-breakpoints: (
	'xsmall': 319px,
	'small' : 599px,
	'medium': 767px,
	'large' : 1023px,
	'xlarge': 1199px,
	);
$mq-breakpoints-x: (
    'xsmall': 320px,
    'small' : 600px,
    'medium': 768px,
    'large' : 1024px,
    'xlarge': 1200px,
    );
@mixin mq($breakpoint: large) {
	@media screen and (max-width: #{map-get($mq-breakpoints, $breakpoint)}) {
		@content;
	}
}
@mixin mqx($breakpoint: large) {
    @media screen and (min-width: #{map-get($mq-breakpoints-x, $breakpoint)}) {
        @content;
    }
}

@mixin ba-block($width: 100%, $height: 100%){
	display: block;
	content: '';
	width: $width;
	height: $height;
	position: absolute;
}

@mixin centering-elements($horizontal: true, $vertical: true) {
	position: absolute;
	@if $horizontal and $vertical {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		} @else if $horizontal {
			left: 50%;
			transform: translate(-50%, 0);
			} @else if $vertical {
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		@mixin text-truncate {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		@mixin transition($speed: 0.4s){
			transition: all $speed;
		}